.members-section{
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.form-members{
    padding-bottom: 20px;
}

.input-member{
    padding: 10px;
    margin-bottom: 20px;
    // font-size: 1.3rem;
}

.add-btn{
    margin: 0 auto;
}

.random-name-btn{
    margin: 0 auto;
}

.label-text {
	font-size: 1.5rem;
	font-weight: 700;
	color: #9c9c9c;
	text-align: center;
	line-height: 1.125;
	margin-bottom: 1.25rem;
}