<section class="theme-section">
  <div class="theme-container">
    <legend class="theme-group-legend">Choose your favorites</legend>
    <div class="btn-section">
      <button type="button" class="select-all-btn btn">Select All</button>
      <button type="button" class="disabled-all-btn btn">Disabled All</button>
    </div>

    <form action="" class="theme-form">
    </form>
    <button class="random-theme-btn btn" type="button">Get Random Theme</button>
    <div class="random-theme"></div>
  </div>

</section>