<section class="members-section">
    <div class="members-container">
      <form action="" class="form-members">
        <label for="input-id-label" class="label-text">Enter a member</label>
        <input type="text" class="input-member" name="name" id="input-id-label">
        <button type="submit" class="add-btn btn">Add</button>
        <ul class="theme-checkbox"></ul>
      </form>
      <ul class="members"></ul>
      <button type="button" class="random-name-btn btn">Get Random Choice</button>
      <div class="random-name-list"></div>
    </div>

  </section>